:root {
    --dark-blue: #2B1871;
    --orange: #FF7F47;
    --sidebar-width: 240px;
    --light-bg: #F5F7FA;
}

.main-layout-root {
    display: flex;
    min-height: 100vh;
    background-color: var(--light-bg);
}

.main-content {
    flex-grow: 1;
    padding: 32px; 
    padding-top: 80px; 
}

.main-appbar {
    background-color: var(--dark-blue) !important;
}

.menu-button {
    margin-right: 16px; 
}

.appbar-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.appbar-logo {
    height: 60px;       
    margin-right: 30px; 
}

.appbar-title {
    font-weight: 700 !important;
    color: white !important;
}

.logout-button {
    
}

.logout-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.sidebar-paper {
    width: var(--sidebar-width) !important;
    background-color: var(--dark-blue) !important;
    color: white !important;
    border-right: none !important;
}

.sidebar-list {
    margin-top: 64px !important; 
}

.sidebar-list-item {
    cursor: pointer;
    border-left: 4px solid transparent; 
    background-color: transparent;
    transition: background-color 0.2s, border-left 0.2s;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.sidebar-list-item.active {
    border-left: 4px solid var(--orange) !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.icon-default {
    color: white !important;
}

.icon-active {
    color: var(--orange) !important;
}